<template>
  <div class="container">
    <component :is="content">
      <router-view></router-view>
    </component>
  </div>
</template>

<style>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}
</style>

<script>
const default_content = "content";

export default {
  computed: {
    content() {
      return this.$route.meta.content || default_content;
    }
  }
};
</script>
