<template>
<div>
  <div class="container">
    <b-card title="Monte Libano" header-tag="header" footer-tag="footer">
        <template v-slot:header></template>
        <b-button href="/empresa" variant="primary">Cadastrar Empresa</b-button>
        <template v-slot:footer></template>

        <template v-slot:header></template>
        <b-button href="/prestadorservico" variant="primary">Cadastrar Prestador de Serviços</b-button>
        <template v-slot:footer></template>
    </b-card>
  </div>
</div>
