<template>
  <div>
    <b-form @submit="onSubmit" @reset="onReset" v-if="show">
      <h4>Cadastrar Empresa</h4>

      <b-row>
        <b-col sm="4">
          <b-form-group id="input-group-1" label="CNPJ:" label-for="input-1">
            <b-form-input
              id="input-1"
              v-model="form.cnpj"
              required
              placeholder="##.###.###/####-##"
            ></b-form-input>
          </b-form-group>
        </b-col>

        <b-col sm="8">
          <b-form-group id="input-group-2" label="Razao Social" label-for="input-2">
            <b-form-input
              id="input-2"
              v-model="form.name"
              required
              placeholder="Insira Razao social"
            ></b-form-input>
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col sm="4">
          <b-form-group id="input-group-1" label="CEP:" label-for="input-1">
            <b-form-input id="input-1" v-model="form.cep" required placeholder="Somente numeros"></b-form-input>
          </b-form-group>
        </b-col>

        <b-col sm="6">
          <b-form-group id="input-group-2" label="Endereço:" label-for="input-2">
            <b-form-input
              id="input-2"
              v-model="form.endereco"
              required
              placeholder="Ex.: Av. Brasil T2."
            ></b-form-input>
          </b-form-group>
        </b-col>

        <b-col sm="2">
          <b-form-group id="input-group-2" label="Numero" label-for="input-2">
            <b-form-input id="input-2" v-model="form.numero" required></b-form-input>
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col sm="4">
          <b-form-group id="input-group-1" label="Bairro:" label-for="input-1">
            <b-form-input id="input-1" v-model="form.bairro" required></b-form-input>
          </b-form-group>
        </b-col>

        <b-col sm="8">
          <b-form-group id="input-group-2" label="Cidade" label-for="input-2">
            <b-form-input id="input-2" v-model="form.cidade" required></b-form-input>
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col sm="4">
          <b-form-group id="input-group-1" label="Responsavel:" label-for="input-1">
            <b-form-input
              id="input-1"
              v-model="form.nomeres"
              required
              placeholder="Insira Responsavel"
            ></b-form-input>
          </b-form-group>
        </b-col>

        <b-col sm="8">
          <b-form-group id="input-group-2" label="Telefone" label-for="input-2">
            <b-form-input id="input-2" v-model="form.telefone" required></b-form-input>
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col sm="4">
          <b-form-group id="input-group-1" label="Email:" label-for="input-1">
            <b-form-input
              id="input-1"
              v-model="form.email"
              type="email"
              required
              placeholder="Email"
            ></b-form-input>
          </b-form-group>
        </b-col>
      </b-row>

      <b-button type="submit" variant="primary">Enviar</b-button>
      <b-button type="reset" variant="outline-primary">Limpar</b-button>
    </b-form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        email: '',
        name: ''
      },
      show: true
    };
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      alert(JSON.stringify(this.form));
    },
    onReset(evt) {
      evt.preventDefault();
      // Reset our form values
      this.form.name = "";
      this.form.email = "";
      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    }
  }
}
</script>
